html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.back-zoom {
  position: absolute;
  z-index: 1000;
  bottom: 15px;
  left: 20px;
  font-size: 74px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  opacity:0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.back-zoom.open {
  opacity: 1;
}


/*BABYLON CSS*/
#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    /*  */
}

/*DEBUG CSS*/
#fpslabel {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #999;
    cursor: default;
}

/*VIDEO controller CSS*/
.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
  }
  
  .video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
  }
  
  .video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }

  
  .video-overlay-close:hover, .back-zoom:hover{
    color: #fa183d;
  }
  
  .video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    /* width: 90%; */
    /* height: auto; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  }